{% extends 'base.html' %}

{% block menu %}
    <li><a href="{% url 'task_add' %}">Add Task</a></li>
{% endblock %}

{% block content %}
    <h1>Tasks:</h1>
    <hr/>
    {% for task in tasks %}
        <h3>{{ task.description }}</h3>
        <p>{{ task.get_status_display }}</p>
        <p>{{ task.complete_before }}</p>
        <p><a href="{% url 'task_view' task.pk %}">More...</a></p>
        <p><a href="{% url 'task_update' task.pk %}">Edit</a></p>
        <p><a href="{% url 'task_delete' task.pk %}">Delete</a></p>
        <hr/>
    {% endfor %}
{% endblock %}
